[Unit]
Description=NixUnit container '%i'
RequiresMountsFor=/var/lib/nixunits/containers/%i

[Service]
Environment=SYSTEMD_NSPAWN_UNIFIED_HIERARCHY=1
EnvironmentFile=/var/lib/nixunits/containers/%i/unit.conf

ExecStart=/usr/bin/systemd-nspawn --machine=%i \
  -D /var/lib/nixunits/containers/%i/root \
  --notify-ready=yes --kill-signal=SIGRTMIN+3 $NSPAWN_ARGS ${SYSTEM_PATH}/init

ExecStartPre=/usr/local/lib/nixunits/unit/nixunit-start-pre %i
ExecStartPost=/usr/local/lib/nixunits/unit/nixunit-start-post %i

Delegate=true
KillMode=mixed
Restart=on-failure
RestartForceExitStatus=133
Slice=machine.slice
SuccessExitStatus=133
SyslogIdentifier=nixunit %i
TasksMax=16384
TimeoutStartSec=1min
Type=notify
